:root{
    --primary-color: #fffafa;
    --secundary-color: #5ee5fa;
    --terciary-color: #fcfc5c;
}

body{
    background-color: var(--primary-color);
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
    font-family: Georgia;
}

html{
    scroll-behavior: smooth;
}

#header{
    background-color: var(--terciary-color);
    padding: 20px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    text-align: justify;
}

.inicio:hover, .previsoes:hover, .sobre:hover{
    background-color: #FFDD33;
    border-radius: 8px;
    max-width: 100%;
    transition: background-color 500ms ease-in-out;
}

.navbar_left div, .navbar_right div{
    padding: 8px 25px;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar_left{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    color: #000;
}

.navbar_left, .navbar_right{
    display: flex;
    align-items: center;
}

#apresentacao{
    border: var(--secundary-color);
    border-radius: 10px;
    background-color: var(--primary-color);
    padding: 25px;
    width: 70%;
    margin: auto;
}